*
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.*
!.template
!.template/*
!copier.yaml
!copier.yml.tmpl
!.github
!.github/*
