*
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/rules/*
!workflow/rules/annotation/*
!workflow/resources/*
!config.yaml
!samples.tsv
!scenario.yaml
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/data
